html, body {
    min-height: 100%;
}
html {
    overflow-y: scroll;
    overflow-x: auto;
}
#logomech{
    background: url('/mechones/images/logo.png') no-repeat; 
    width: 200px;
    height: 75px;
    margin-top: 0px;
    background-size: 164px;
    left: 73px;
    position: absolute;
    top: 124px;
    z-index: 100000;
}
#coverall {
    position: fixed;
    z-index: 2000000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    overflow-y: scroll;
    background:rgba(95, 94, 94, .7);
}

#coverall .innercal {
    position: relative;
    width: 720px;
    margin: 70px auto;
    background: white;
    box-shadow: 0px 0px 30px black;
    border-radius: 17px;
}
.cerrar {
    width: 32px;
    height: 29px;
    background: url("images/cerrarsmall.png") center center no-repeat;
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 110;
    cursor: pointer;
}
#coverall #caloader {
    min-height: 100%;
    padding: 25px;
    border-radius: 13px;
    line-height: 20px;
    background-color: #F5B412;
    border: 1px solid #1D6685;
    overflow: hidden;
}
#top .trans{
    position: absolute;
    width: 980px;
    height: 270px;
}
#top-login {
    width: 100%;
    background: #fff;
    height: 149px;
    position: fixed;
    top: 0px;
    z-index: -10;
}
.input-style {
    width: 414px;
    padding: 11px 4px;
    border: 1px solid #999;
    margin: 1px 0px 7px 0px;
    font-size: 0.9em;
}
.field-item {
    font-size: 0.8em;
    color: #444;
}
.itemtoplog {
    width: 443px;
    height: 139px;
    margin: 3px;
    float: left;
}
.inner-toplogin {
    width: 900px;
    height: 149px;
    margin: 0px auto;
}
.inner-toploginleft{
    float: left; 
    overflow: hidden;
    padding: 10px 0px 0px 0px;
}
#top {          
    width: 100%;  
    height: 57px;  margin: 0px auto;  
    position: fixed;    
    box-shadow: 0px 0px 8px 0px #000;
    z-index: 7;  
    background: url(/mooff/images/overtop.png), -webkit-linear-gradient(top,rgba(0, 164, 122, 1), rgba(0, 151, 113, 1));
}
.inner-top {
    margin: 0 auto;
    width: 1000px;
    height: 53px;
}
.part-right-top {
    float: right;
    width: 172px;
    height: 53px;
}
.flecha-op {
    float: right;
    width: 15px;
    height: 42px;
    margin: 8px 0px 0px 0px;
    background-image: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yl/r/hWECUOb1CHh.png);  background-repeat: no-repeat;  background-size: auto;  
    background-position: -81px -210px;
}
.flecha-op:hover{
    cursor: pointer;
}
#fotouser {
    width: 40px;
    height: 40px;
    margin: 8px 2px 0px 0px;
    float: right;
    border: 1px dashed rgb(216, 216, 216);
}
.emailuser {
    color: #fff;
    font-size: 0.8em;
    margin: -36px 80px 0px 0px;
    text-align: right;
    float: right;
}
#logout {
    float: right;
    clear: both;
}
.divoption{
    display: none;
    width: 132px;    background: #fff;  position: absolute;  right: 0px;  
    top: 48px;  box-shadow: 0px 2px 7px -3px #444;
}
.divoption a {
    text-decoration: none;
    font-size: 0.7em;
    color: #444;
    text-align: left;
    width: 128px;
    padding: 3px 0px;
}
#partuser {
    width: 200px;
    height: 57px;
    float: right;
    position: relative;
}
#menu {
    width: 600px;
    margin: 0px 0px 0px 78px;    
    position: relative;
    height: 57px;
    color: #444;
    float: left;
}

#menu .firstlink .logosmall{
    margin: -4px 0px 0px 0px;
    float: left;
}
#menu .firstlink .inicio{
    float: left;
}
#menu .part1{
    height: 57px;
    width: 748px;
        
    margin: 0px auto;
}
#menu .part2{
    background-color: #9BB6C8;
    height: 35px;
    width: 100%;
}
#menu .part1 .link {
    display: block;
    letter-spacing: 1px;
    float: left;  max-width: 249px;  
    margin: 1px 0px 0px 0px;  
    padding: 11px 0px 8px 0px;  text-align: center;  
    color: rgb(238, 238, 238);    
    font-size: 11px;  text-decoration: none;
    height: 37px;
}
.link p {
    border-right: 1px dashed rgb(216, 216, 216);
    padding: 0px 15px 0px 15px;
}
#menu .part1 .link:hover {
    background: rgba(0, 151, 113, 1);
    color: #fff;
}
.home{
    height: 500px;
    padding-top: 76px;
    margin-top: 116px;
}
.tit-seccion {
    float: left;
    width: 800px;
    margin-bottom: 10px;
}
.icon-seccion {
    float: left;
}
.tit-seccion p {
    font-size: 0.9em;
    margin: 15px 0px 0px 0px;
    color: rgb(116, 116, 116);
    font-weight: bold;
}
.part-left {
    float: left;
    width: 300px;
    height: 400px;
}

.part-right {
    float: left;
    width: 315px;
    height: 400px;
    margin: 0px 0px 0px 10px;
}
#body{
    width: 950px;
    overflow: hidden;
    margin: 0px auto;  
    background: #fff;
}
#body > .inner {
    width: 100%;
    margin: 0 auto;
    min-height: 520px;
    float: left;
    position: relative;
}
.publicidad.publicidad-right {
    width: 300px;
    height: 250px;
    float: right;
}
footer{
    height: 229px;
    width: 100%;  
    margin: 0px auto;  border-top: 0px solid rgb(21, 38, 53);    
    bottom: 0px;
    box-shadow: 0px 9px 8px 8px #000;  z-index: 7;  background: url(/mooff/images/overtop.png), -webkit-linear-gradient(top,rgba(0, 164, 122, 1), rgba(0, 151, 113, 1));
}
footer .textbottom {
    margin: 0px auto;
    color: #fff;
    font-size: 0.9em;
    width: 950px;
}