@font-face{
    font-family: "EstoyBueno";
    src: url('/mooff/fonts/EstoyBueno.ttf'),
         url('../fonts/Impact.eot'),
         url('../fonts/Impact.otf'),
         url('../fonts/Impact.woff') ;
}
.specialfont2{
    font-family: "EstoyBueno" !important;
}

body{
    background: url(/mooff/images/overtop.png) rgba(255, 255, 255, 0);
}
#logmooff{
    background: url('/mooff/images/logo5.png') no-repeat; 
    width: 200px;
    height: 55px;
    margin-top: 0px;
    background-size: 164px;
    left: 73px;
    position: absolute;
    top: 0px;
}
.colum {
    width: 315px;
    float: left;
}
.perfil {
    background: rgba(204, 204, 204, 0.09);
    border: 1px solid rgba(68, 68, 68, 0.07);
    padding: 0px 11px;
    padding-top: 9px;
}
.colum2 {
    width: 615px;
    float: left;
}
.colum3 {
    width: 950px;
    float: left;
}
.item-noticia.porte2 {
    width: 300px;
    height: 207px;
}
.item-noticia.porte1 {
    width: 300px;
}
.item-noticia.porte3 {
    width: 300px;
    height: 454px;
}
.item-noticia {
    width: 170px;
    height: 170px;
    color: #fff;
    float: left;
    margin: 0px 14px 16px 0px;
    box-shadow: 0px 118px 71px -19px rgba(0, 0, 0, 0.6) inset;
    position: relative;
}
.titulo-noticia{
    margin: 3px 0px 0px 7px;  
    text-shadow: 0 1px 1px rgb(0, 0, 0);  
    letter-spacing: 2px;
    font-size: 1.2em;
}
.content-noticia {
    float: left;
    width: 94%;
    padding: 7px 3%;
    height: 122px;
    overflow: hidden;
    margin: 63px 0px 0px 0px;
    font-size: 0.8em;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.55);
    position: absolute;
    bottom: 0px;
    background: rgba(0, 0, 0, 0.73);
    display: none;
}
#login-fb{
    background: url(/mooff/images/login-face-sprite.png) top right no-repeat;
    width: 162px;
    float: right;
    font: bold 11px/22px "Lucida Grande",Lucida,Arial,sans-serif;  
    height: 22px;  
    padding-right: 6px;  
    text-shadow: rgba(0, 0, 0, 0.5) 0 -1px 0;  -webkit-text-stroke: 1px transparent;
    position: relative;
    margin: 8px 0px 0px 0px;
    color: #fff;
    text-decoration: none;
}
.txtfb {
    margin: 0px 0px 0px 30px;
}
#loginbtn-fb{
    background: url(/mooff/images/loginbtn-face-sprite.png) top right no-repeat;
    width: 24px;
    height: 22px;
    position: absolute;
}

#playlistW {
    z-index: 1000000 !important;
}
#contentW {
    right: 0 !important;
}