html, body {
    min-height: 100%;
}
html {
    overflow-y: scroll;
    overflow-x: auto;
}
#logomech{
    background: url('/mechones/images/logo.png') no-repeat; 
    width: 200px;
    height: 75px;
    margin-top: 0px;
    background-size: 164px;
    left: 73px;
    position: absolute;
    top: 124px;
    z-index: 100000;
}
#coverall {
    position: fixed;
    z-index: 2000000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    overflow-y: scroll;
    background:rgba(95, 94, 94, .7);
}

#coverall .innercal {
    position: relative;
    width: 720px;
    margin: 70px auto;
    background: white;
    box-shadow: 0px 0px 30px black;
    border-radius: 17px;
}
.cerrar {
    width: 32px;
    height: 29px;
    background: url("images/cerrarsmall.png") center center no-repeat;
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 110;
    cursor: pointer;
}
#coverall #caloader {
    min-height: 100%;
    padding: 25px;
    border-radius: 13px;
    line-height: 20px;
    background-color: #F5B412;
    border: 1px solid #1D6685;
    overflow: hidden;
}
#top .trans{
    position: absolute;
    width: 980px;
    height: 270px;
}
#top {          
    width: 100%;  
    height: 70px;  margin: 0px auto;  
    position: fixed;  box-shadow: 0px -9px 8px 8px #000;  z-index: 7;  
    background: url(/mooff/images/overtop.png), -webkit-linear-gradient(top,rgba(0, 164, 122, 1), rgba(0, 151, 113, 1));
}
#menu {
    width: 100%;
    margin: 0px auto 0px auto;    
    position: relative;
    height: 49px;
    color: #444;
    top: 54px;
}

#menu .firstlink .logosmall{
    margin: -4px 0px 0px 0px;
    float: left;
}
#menu .firstlink .inicio{
    margin: 0px 0px 0px 0px;
    float: left;
}
#menu .part1{
    height: 67px;
    width: 950px;
        
    margin: 0px auto;
}
#menu .part2{
    background-color: #9BB6C8;
    height: 35px;
    width: 100%;
}
#menu .part1 .link {
    float: left;
    border-bottom: 1px dashed;
    height: 26px;
    padding: 20px 43px 0px 43px;
    text-align: center;
    display: block;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 0.9em;
    margin-top: 3px;
}
#menu .part1 .link:hover {
    background: rgba(0, 151, 113, 1);
}
.home{
    height: 500px;
    padding-top: 76px;
    margin-top: 116px;
}
.part-left {
    float: left;
    width: 300px;
    height: 400px;
}

.part-right {
    float: left;
    width: 315px;
    height: 400px;
    margin: 0px 0px 0px 10px;
}
#body{
    width: 950px;
    overflow: hidden;
    margin: 0px auto;  
}
#body > .inner {
    width: 100%;
    margin: 0 auto;
    min-height: 520px;
    float: left;
    position: relative;
}
.publicidad.publicidad-right {
    width: 300px;
    height: 250px;
    float: right;
}
footer{
    height: 229px;
    width: 100%;  
    margin: 0px auto;  border-top: 0px solid rgb(21, 38, 53);    
    background: url(/mooff/images/overtop.png), -webkit-linear-gradient(top,rgba(0, 164, 122, 1), rgba(0, 151, 113, 1));
    bottom: 0px;
}
footer .textbottom {
    margin: 0px auto;
    color: #fff;
    font-size: 0.9em;
    width: 950px;
}